@keyframes blueSquare {
    0% {
        transform: translateY(150vh) scaleY(3);
    }
    70% {
        transform: translateY(0) scaleY(3);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

@keyframes yellowSquare {
    0% {
        transform: translateX(-15vw) translateY(-52.5vh);
        width: 100vw;
        height: 110vh;
    }
    70% {
        transform: translateX(-15vw) translateY(-52.5vh);
        width: 100vw;
        height: 110vh;
    }
    100% {
        transform: translateY(0) translateX(0);
        width: 35vw;
        height: 30vh;
    }
}

@keyframes redSquare {
    0% {
        transform: translateX(100vw);
        height: 100vh;
        width: 100vw;
    }

    60% {
        transform: translateX(0);
        height: 100vh;
        width: 100vw;
    }

    100% {
        transform: translateX(0);
        width: 45vw;
        height: 35vh; 
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.App {
    --blue: #14213D;
    --yellow: #FCAF32;
    --red: #af3838;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  
    width: 100%;
    height: 100%;
  
    transition: opacity 0.3s ease-in-out;
  }
  
.redSquare {
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    align-items: center;
    left: 30vw;
    top: 35vh;
    z-index: 2;
    transition: top 0.01s linear;

    width: 45vw;
    height: 35vh;

    animation-name: redSquare;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    background-color: var(--red);
}

.yellowSquare {
    position: absolute;
    top: 52.5vh;
    left: 15vw;

    width: 35vw;
    height: 30vh;

    animation-name: yellowSquare;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    background-color: var(--yellow);
}

.blueSquare {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    background-color: var(--blue);
    animation-name: blueSquare;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    width: 30vw;
    height: 50.5vh;
    top: 12vh;
    left: 0;
}

.lastName {
    margin-left: -0.3vw;

    font-family: 'Poppins', sans-serif;
    opacity: 0;
    font-size: 5vw;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    animation-duration: 0.5s;
    font-weight: 900;

    color: var(--yellow);
}

.name {
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    margin-bottom: 8vh;
    margin-left: 10vw;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    animation-duration: 0.5s;
    font-size: 5vw;
    font-weight: 900;

    color: #FCAF32;
}

.arrowDownContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.arrowDown {
    width: 50px;
    z-index: 4;
    opacity: 0;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    animation-duration: 0.5s;
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    .name {
        font-size: 7vw;
        margin-bottom: 8vh;
        margin-left: 2vw;
    }

    .lastName {
        font-size: 7vw;
    }

    .redSquare {
        width: 58vw;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 15vw;
        user-select: none;
        width: 23vw;
        margin: 0;
        margin-top: -3vh;
        line-height: 1;
        text-align: center;
        width: 1em;
        word-wrap: break-word;
        align-self: center;
    }

    .lastName {
        font-size: 18vw;
        user-select: none;
        align-self: flex-start;
        padding: 1vh;
        overflow-wrap: break-word;
        line-height: 0.9;
        overflow: hidden;
    }
    
    .blueSquare {
        display: flex;
        justify-content: center;
        align-content: center;
        top: 5vh;
        height: 60vh;
    }

    .redSquare {
        height: 67vw;
        width: 49vw;
        z-index: 2;
    }

    .yellowSquare {
        top: 50vh;
        z-index: 1;
        width: 40vw;
        height: 32vh;
    }
}
