@keyframes blueSquare {
    from {
        opacity: 0;
        transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes yellowSquare {
    from {
        opacity: 0;
        transform: translateY(20vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes redSquare {
    from {
        opacity: 0;
        transform: translateX(40vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes firstArrow {
    0% {opacity:0}
    20% {opacity:1}
    40% {opacity:0}
    80% {opacity:0}
    100% {opacity:0}
}

@keyframes secondArrow {
    0% {opacity:0}
    20% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@keyframes thirdArrow {
     0% {opacity:0}
    20% {opacity:0}
    40% {opacity:0}
    80% {opacity:1}
    100% {opacity:0}
}

.App {
    --blue: #14213D;
    --yellow: #FCAF32;
    --red: #af3838;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  
    width: 100%;
    height: 100%;
  
    transition: opacity 0.3s ease-in-out;
  }
  
.redSquare {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30vw;
    top: 35vh;

    width: 45vw;
    height: 35vh;

    animation-name: redSquare;
    animation-duration: 0.5s;
    background-color: var(--red);
}

.yellowSquare {
    position: absolute;
    top: 62.5vh;
    left: 15vw;

    width: 15vw;
    height: 15vh;

    animation-name: yellowSquare;
    animation-duration: 0.5s;
    background-color: var(--yellow);
}

.lastName {
    margin-left: -0.3vw;

    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    font-weight: 900;

    color: var(--yellow);
}

.blueSquare {
    position: absolute;
    display: flex;
    align-items: flex-end;
    background-color: var(--blue);
    animation-name: blueSquare;
    animation-duration: 0.5s;
    width: 30vw;
    height: 50.5vh;
    top: 12vh;
    left: 0;
    z-index: 0;
}

.name {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8vh;
    margin-left: 10vw;
    font-size: 5vw;
    font-weight: 900;
    z-index: 1;

    color: #FCAF32;
}

.arrowDownContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 86px;
    bottom: 0;
}

.arrowSVG {
    width: 64px;
    stroke-linecap: round;
}

.arrowDown {
    stroke: var(--blue);
	fill: transparent;
	stroke-width: 1px;	
	animation: firstArrow 2s infinite;

    &.secondArrow {
        margin-top: -10px;
        stroke: var(--yellow);
        animation-delay: 0.7s;
        stroke-width: 2px;
        animation: secondArrow 2s infinite;
    }

    &.thirdArrow {
        margin-top: -20px;
        stroke: var(--red);
        animation-delay: 1.4s;
        stroke-width: 3px;
        animation: thirdArrow 2s infinite;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    .name {
        font-size: 7vw;
        margin-bottom: 8vh;
        margin-left: 2vw;
    }

    .lastName {
        font-size: 7vw;
    }

    .redSquare {
        width: 58vw;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 9vh;
        user-select: none;
        width: 23vw;
        margin: 0;
        margin-top: -3vh;
        writing-mode: vertical-rl;
        text-orientation: upright;
        line-height: 1.3;
        letter-spacing: -3vh;
        align-self: center;
    }

    .lastName {
        font-size: 18vw;
        user-select: none;
        align-self: flex-start;
        padding: 1vh;
        overflow-wrap: break-word;
        line-height: 0.9;
        overflow: hidden;
    }
    
    .blueSquare {
        display: flex;
        justify-content: center;
        align-content: center;
        top: 5vh;
        height: 60vh;
    }

    .redSquare {
        height: 67vw;
        width: 49vw;
    }

    .yellowSquare {
        top: 50vh;
        z-index: -1;
        width: 40vw;
        height: 32vh;
    }
}
